name: CI/PR
on:
  pull_request:
  push:
    branches:
      - master
      - validate/*

jobs:
  check_cache:
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork
    runs-on: ubuntu-latest
    steps:
    - run: yarn install --check-cache # https://yarnpkg.com/features/zero-installs#does-it-have-security-implications

  check_diff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - run: yarn
    - run: yarn run build

    - name: check for uncommitted changes
      # Ensure no changes.
      run: |
        git add -u . # compare after applying git EOL normalization
        git diff --cached --exit-code --stat \
        || (echo "##[error] found changed files after build. please 'yarn run build'" \
                 "and check in all changes" \
            && git diff --cached \
            && exit 1)

  test:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2

    - uses: ./
      with:
        service-token: ${{ secrets.RichCodeNavServiceTokenProd }}
        languages: typescript
        repo-token: ${{ github.token }}
